@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
@for(var i = 0; i<10;i++)
{
    <label>{{@i}}</label>
    <input type="text" name="tb" value="{{@i}}"/>
}