@{
    ViewBag.Title = "Home Page";
}

@section Styles {
<link href="@Url.Content("../../Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("../../Content/ToDoStyle.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("../../Scripts/FullCalendar/fullcalendar.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("../../Scripts/FullCalendar/fullcalendar.print.css")" rel="stylesheet" type="text/css" />
}

@section JavaScriptInHead
{
<script type="text/javascript" src="../../Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="../../Scripts/FullCalendar/jquery.min.js"></script>
<script type="text/javascript" src="../../Scripts/FullCalendar/jquery-ui.custom.min.js"></script>
<script type="text/javascript" src="../../Scripts/FullCalendar/fullcalendar.min.js"></script>
<script type="text/javascript" src="../../Scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="../../Scripts/Angular.js"></script>
<script type="text/javascript" src="../../Scripts/AngularUI.js"></script>
<script type="text/javascript" src="../../Scripts/ui-bootstrap.min.js"></script> 
<script type="text/javascript" src="../../Scripts/ToDoApp.js"></script>
<script type="text/javascript" src="../../Scripts/ToDoService.js"></script>
<script type="text/javascript" src="../../Scripts/FullCalendar/Calendar.js"></script>
<script type="text/javascript" src="../../Scripts/ToDoController.js"></script>
<script type="text/javascript" src="../../Scripts/CalendarCtrl.js"></script>
}
<div ng-app="toDoApp" class="row">
    <div ng-controller="CalendarCtrl" class="col-xs-12 col-sm-6 col-lg-8" ui-calendar="uiConfig.calendar"  ng-model="events"></div> 
    <div class="col-xs-6 col-lg-4">
        <div class="panel panel-info" ng-controller="toDoCtrl">
            <div class="panel-heading">
                <div class="panel-title">
                    Today
                    <span class="pull-right glyphicon glyphicon-plus" ng-click="addNewTask()"></span>
                </div>
            </div>
            <div class="panel-body">
                <ul>
                    <li ng-show="task" ng-repeat="task in tasks track by $index" class="item">
                        <input class="checkbox-inline" type="checkbox" ng-model="task.isDone" />
                        <input class="input-sm" ng-model="task.title" ng-class="{strike:task.isDone}" placeholder="Click to Enter Task Title" value="task.title" />
                        <span class="pull-right glyphicon glyphicon-trash" ng-click="deleteTask(task)"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
